@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}
.btn-primary{
    border: none;
    outline: none;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
}

/* header section styles */
.header-section{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.5rem;
    color: #131313;
}
.nav-section > ul{
    display: flex;  
}
.nav-section li{
    list-style-type: none;
    margin-right: 30px;
    font-weight: 500;
}
.nav-section > ul li a{
    color: #424242;
    font-size: 1.5rem;
    text-decoration: none;
}
.banner-section{
  margin-top: 30px;   
}
.banner-content{
    max-width: 800px; 
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}
.banner-title{
    color:#131313;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 20px;
}
.banner-section img{
    width: 100%;
}

/* features section styles */
main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 270px;
}
.teams-section{
    display: flex;
    align-items: center;
    gap: 10px;   
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.text-container{
    padding-left: 70px;
    padding-right: 50px;
}
.teams-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.teams-title .quick-list-span{
    color:#727272;
    font-weight: 500;
}
.teams-title .feature-span{
    color:#FF900E;
    font-weight: 700;
}
.text-description{
    width: 480px;
    color:#727272;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px; 
}















/* Responsive for mobile device */

@media screen and (max-width:576px) {
    .header-section{
        padding: 20px;
    }
    .nav-section{
        flex-direction: column;
    }
    .nav-title{
        font-size: 1.5rem;
    }
    .nav-section > ul{
        margin-top: 20px;
    }
    .banner-content{
        padding: 30px;
        margin-top:0;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        text-align: justify;
    }
    .btn-primary{
       padding: 10px 15px;
    }
}
/* Responsive for tablet device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .header-section{
        padding: 50px;
    }
    .nav-section{
        flex-direction: column;
    }
    .nav-title{
        margin-bottom: 20px;
    }
    .banner-section{
        margin-top: 0px;
    }
}
