@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}
.btn-primary{
    border: none;
    outline: none;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
}

/* header section styles */
.header-section{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.5rem;
    color: #131313;
}
.nav-container > ul{
    display: flex;  
}
.nav-container > ul li{
    list-style-type: none;
    margin-right: 30px;
    font-weight: 500;
}
.nav-container > ul li a{
    color: #424242;
    font-size: 1.5rem;
    text-decoration: none;
}
.banner-section{
  margin-top: 30px;   
}
.banner-content{
    max-width: 600px; 
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}
.banner-title{
    color:#131313;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 20px;
}
.banner-section img{
    width: 100%;
}

/* teams section styles */
.teams-section{
    display: flex;
    align-items: center;
    gap: 10px; 
    max-width: 1450px;
    margin: 0 auto;
    padding: 40px 270px;  
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-text-container{
    padding-left: 70px;
    padding-right: 50px;
}
.teams-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.teams-title .quick-list-span{
    color:#727272;
    font-weight: 500;
}
.teams-title .feature-span{
    color:#FF900E;
    font-weight: 700;
}
.text-description{
    width: 480px;
    color:#727272;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px; 
}

/* Responsive for mobile device */

@media screen and (max-width: 576px) {
    .header-section, .teams-section{
        padding: 20px;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container > ul{
        margin-top: 30px;
    }
    .nav-container > ul li{
        margin-right: 10px;
    }
    .banner-section{
        margin-top: 0;   
      }
    .banner-title{
        margin-top: 0;
    }
    .teams-section{
        flex-direction: column;
    }
    .banner-section > img{
        max-width: 800px;
    }
    .team-image-container{
        grid-template-columns: 1fr;
    }
    .team-text-container{
        text-align: center;
        margin: 20px;
    }
    .text-description{
        width: 350px;
    }
}
/* Responsive for tablet device */
@media  screen and (min-width: 577px) and (max-width: 960px) {
    .header-section, .teams-section{
        padding: 50px;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container > ul{
        margin-top: 30px;
    }
    .nav-container > ul li{
        margin-right: 20px;
    }
    .banner-section{
        margin-top: 10;   
      }
    .banner-title{
        margin-top: 10;
    }
    .teams-section{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .team-text-container{
        text-align: center;
        margin: 20px;
    }
    .text-description{
        text-align: justify;
    }
    
}
